.latest{
  padding-top:9em;
  padding-bottom:9em;
  width: 100vw;
  background-color:white;
  h3{
    font-family: 'Lobster', cursive;
    font-family: 'Cinzel', serif;
    text-align: center;
  }
  p{
    padding-top: 1em;
    padding-bottom: 4em;
    max-width: 70%;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #727272;
    line-height: 20px;
    display: block;
    margin: auto;
  }

  ul{
    li{
      display: inline-block;
    }
  }
}


