<section id="ABOUT" class="row">
  <div class="col-xs-6 col-md-6 ">
    <div class="about-left">
      <h3><strong>ABOUT ME</strong></h3>
      <p>{{developer.About}}</p>
      <p>
        See my <a href={{developer.GitHub}}>GitHub</a> link for more project work and code baise.
        Aslo feel free to join me on <a href={{developer.LinkedIn}}>LinkedIn</a>.
      </p>
    </div>
  </div>
  <div class="col-xs-6 col-md-6">
      <div class="about-right">
      <img src="assets/images/about.jpg" class="about-right" />
    </div>
  </div>
</section>


