
.right-click-panel{
  background-color: green;
  min-width: 30vw;

}

.left-click-panel{
  background-color: rebeccapurple;
   min-width: 70vw;
   height: 100vh;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
  .right-click-panel{
    position: absolute;
    right:-15px;
    height: 100vh;
    background-color: brown;
  }
  .left-click-panel{
     min-width: 100vw;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .right-click-panel{
    min-width: 100vw;
    height: 100vh;
    background-color: brown;
  }
}
