<section id="STACK" class="container-fluid">
    <div class="aboutstack">
      <div class="aboutOne">
        <h3><strong>MY STACK...</strong></h3>
        <ul class="stacklist">
          <!--http://konpa.github.io/devicon/-->
          <li *ngFor="let data of stack"><i class={{data}} ></i></li>
        </ul>
      </div>
    </div>
    <video autoplay loop muted preload>
      <source
        src="assets/videos/stack.mp4"
        type="video/mp4">
      Your browser does not support the video tag.
    </video>
</section>
