<section id="STACK" class="row">
  <div class="col-xs-6 col-md-6 ">
    <div class="aboutstack">
      <h3><strong>STACK</strong></h3>
      <ul class="stacklist">
        <li>Angular</li>
        <li>Java</li>
        <li>C#</li>
        <li>CSS</li>
        <li>SASS</li>
        <li>HTML5</li>
        <li>jQuery</li>
        <li>Python</li>
        <li>MySQL</li>
        <li>MongoDB</li>
        <li>Ubuntu</li>
        <li>Windows</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-6 col-md-6">
      <div class="stack-right">
      <img src="../../../assets/images/about.jpg" class="about-right" />
    </div>
  </div>
</section>
