.imgSlider{
  background-color: black;
  width: 100%;
  img{
        height: 20em;
        display: block;
        margin: auto;
  }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .imgSlider{
      img{
        max-width: 100%;
      }
  }
}
