<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">
    {{developer.fullName}}
    <br />
    <ul class="social">
        <li>
            <a href={{developer.LinkedIn}} class="Linkedin">
              <i class="fab fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href={{developer.GitHub}} class="Git hub">
              <i class="fab fa-github"></i>
            </a>
        </li>
    </ul>
  </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="#HOME">
              <a routerLink="">HOME</a><span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ABOUT">
              <a routerLink="">ABOUT</a>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#DEMO">
              <a routerLink="">DEMO SITES</a>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#STACK">
              <a routerLink="">STACK</a>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#INTEREST">
              <a routerLink="">INTEREST</a>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="HOME"></div>
