<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand">A<span>llen</span> H<span>iggins</span></div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="#HOME">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ABOUT">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#DEMO">DEMO SITES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#CONTACTS">TECH STACK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#CONTACTS">INTEREST</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="HOME"></div>
