<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">
    {{developer.fullName}}
    <br />
    <ul class="social">
        <li>
            <a href={{developer.LinkedIn}} class="Linkedin">
              <i class="fab fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href={{developer.GitHub}} class="Git hub">
              <i class="fab fa-github"></i>
            </a>
        </li>
    </ul>
  </div>
    <div id="ham" (click)="open()" class="animated fadeIn">
      <span class="navbar-toggler-icon"></span>
    </div>
    <div
      id="navbar"
      class="animated fadeInDown"
      [ngClass]="{'show': istrue === true}">
      <ul id="scrollspy" class="navbar navbar-nav navbar-right" >
        <li class="nav-item" >
          <a class="nav-link"  href="#HOME" (click)="open()">
              <a routerLink="">HOME</a>
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"  href="#ABOUT" (click)="open()">
              <a routerLink="">ABOUT</a>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#DEMO" (click)="open()">
              <a routerLink="">DEMO SITES</a>
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="#STACK" (click)="open()">
              <a routerLink="">STACK</a>
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="#INTEREST" (click)="open()">
              <a routerLink="">INTEREST</a>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="HOME"></div>
