

.bg-light {
  background-color: #ffffff!important;
  position: fixed;
  box-shadow: 0px -7px 20px 0px grey;
  height: 7em;
  min-width: 100vw;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-light .navbar-brand {
  padding-left: 1em;
  font-size: 20px;
  font-family: 'Lobster', cursive;
  text-shadow: -1px 1px 1px grey;
  position: absolute;
  span{
    font-size: 22px;
    color: #5a5a5a;
  }

  ul{
    list-style: none;
    font-size: 15px;
    display: inline-flex;
    margin: auto;
    width: 50px;
    li{
      padding-left: 23px;
      text-shadow: none;
    }
  }

}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
  a{
    text-decoration: none;
    color: black;
  }

  a:hover{
    color: rgb(63, 63, 63);
  }
}

.navbar-toggler:not(:disabled):not(.disabled) {
  border: none;
  position: absolute !important;
  right: 2em;
  float: right !important;
}
.navbar-toggler {
  border: none;
}
