#footer {
  background: #fff;
  padding: 25px 0;
  color: #555;
}

#footer .copyright{
    font-size: 13px;
    margin-bottom: 0;
}

p {
  font-family: "Roboto", sans-serif;
  line-height: 22px;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 10px;
  display: block;
}

#footer .social {
  text-align: right;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}
ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

#footer .social li {
  display: inline-block;
  margin-right: 15px;
}
ul li {
  list-style: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet
li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}


/* devices small */
@media only screen and (max-width: 768px) {
  #footer .social, .copyright {
    text-align: center;
  }

}
