#INTEREST{
  padding-top: 3em;
  padding-bottom: 1em;
  .about-left{
    h3{
      padding-bottom: 1.5em;
    }
    p{
      color:gray;
      width: 100%;
    }
  }

  .others{
    width: 100%;
    h3{
      padding-top: 1em;
      padding-bottom: 1em;
    }

    ul{
      list-style: circle;
      padding-left: 1em;
      li{
         color:gray;
         padding-bottom: 1em;
        a{
          text-decoration: none;
        }
      }
    }

  }

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #INTEREST{
    max-width: 80%;
    margin: auto;
  }
}
