<section id="INTEREST" class="row">
  <div class="col-xs-12 col-md-6 ">
    <div class="about-left">
      <h3><strong>INTERESTS</strong></h3>
      <p>{{developer.Interests}}</p>
      <p>Here are some of my favourites...</p>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
      <div class="about-right">
      <app-photoslider [images]=imagelist></app-photoslider>
    </div>
  </div>
  <hr>
  <div class="col-xs-12 others">
    <hr>
    <h3>Other Links</h3>
    <ul>
      <li>Final year project
        <a href="http://glasnost.itcarlow.ie/~softeng4/C00197373/index.html">Visit Carlow</a>
         a comprehensive guide to the County of Carlow. Using Angular 4, Ionic 3 with a Python
         API
      </li>
      <li><a href="http://glasnost.itcarlow.ie/~softeng4/HologramProject/">Project Hologram</a> is part of 4th year IT Carlow
        Internt of Things assignment during distributed and concurrent device development module. The idea for this project
        was to create the illution of a 3D holographic display with upcycled hardware and materials while introducing a
        Raspberry PI into the mix.
      </li>
      <li>
          <a href="https://www.twitter.com/CipherAG">The Enigma Box </a>inspired by Alan Turing and the Enigma Machine of WWII. Using C# and Visual Studio I created an
          interface that encrypts and deciphers user’s plain text messages.  These messages can have multiple levels of
          encryption, adding to its complexity in terms of simple machine permutations with intent to break the cipher.
          Just for fun, I posted cipher messages on Twitter... why not try and break the code.
      </li>
    </ul>
  </div>
</section>
